<p class="well comment">
  <%= comment.body %>
  <br/>
  <%= render 'shared/creator_and_timestamp', obj: comment %>
  <% if logged_in? %>
    <span class="pull-right">
      <%= link_to vote_post_comment_path(@post,comment, vote: :true), method: :post  do %>
        <i class="icon-thumbs-up"></i>
      <% end %>
      <span><%= comment.total_votes %></span>
      <%= link_to vote_post_comment_path(@post,comment, vote: :false), method: :post  do %>
        <i class="icon-thumbs-down"></i>
      <% end %>
    </span>
  <% end %>
</p>