<p class="well comment">
  <%= comment.body %> 
  <span class="pull-right"><%= link_to "on: #{comment.post.title}", post_path(comment.post) if profile_page %></span>
  <br/>
  <%= render 'shared/creator_and_timestamp', obj: comment %>
  <% if logged_in? %>
    <span class="pull-right">
      <%= link_to vote_post_comment_path(comment.post,comment, vote: :true), method: :post, remote: true  do %>
        <i class="icon-thumbs-up"></i>
      <% end %>
      <% if comment.total_votes > 0 %>
        <span class="label label-success" id="comment<%= comment.id%>"><strong><%= comment.total_votes %></strong></span>
      <% elsif comment.total_votes == 0 %>
        <span class="label" id="comment<%= comment.id%>"><strong><%= comment.total_votes %></strong></span>
      <% else %>
        <span class="label label-important" id="comment<%= comment.id%>"><strong><%= comment.total_votes %></strong></span>
      <% end %>
      <%= link_to vote_post_comment_path(comment.post,comment, vote: :false), method: :post, remote: true  do %>
        <i class="icon-thumbs-down"></i>
      <% end %>
    </span>
  <% end %>
</p>