<% @posts.each do |post| %> 
  <div class="row pull-left gutter">
    <div class="span5">
      <div class="well">
        <%= render post.categories %>
        <h4><%= link_to post.title, urlize(post.url) %></h4>
        <div class="description-height"><%= post.description %></div>
        <div class="text-success small">
          <% if logged_in? %>
            <span>
              <%= link_to "#{post.comments.size} comments", post_path(post) %>
            </span>
            <span class="pull-right">
              <%= link_to vote_post_path(post, vote: :true), method: :post, remote: true  do %>
                <i class="icon-thumbs-up"></i>
              <% end %>
              <% if post.total_votes > 0 %>
                <span class="label label-success" id="post<%= post.id %>_votes"><strong><%= post.total_votes %></strong></span>
              <% elsif post.total_votes == 0 %>
                <span class="label" id="post<%= post.id %>_votes"><strong><%= post.total_votes %></strong></span>
              <% else %>
                <span class="label label-important" id="post<%= post.id %>_votes"><strong><%= post.total_votes %></strong></span>
              <% end %>
              <%= link_to vote_post_path(post, vote: :false), method: :post, remote: true  do %>
                <i class="icon-thumbs-down"></i>
              <% end %>
            <% if post.user == current_user %>
              <%= link_to raw(("<i class='icon-pencil'></i>")+' Edit'), edit_post_path(post), :class => "btn btn-mini" %>
            <% end %>
            </span>
          <% end %>
        </div>
        <%= render 'shared/creator_and_timestamp', obj: post %>
      </div>
    </div>
  </div>
<%end%>
