<%= render 'shared/title', title: @post.title %>

<p class="well">
  <%= render @post.categories %>
  <%= @post.description %>
</p>

<hr>
  <h4>Comments</h4>
<hr>
<%= render 'shared/form_errors', object: @comment %>

<% if logged_in? %>
  <h5>Post a comment</h5>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body, :size => "60x3" %>
    <br>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit :Send, :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<%= render @post.comments, profile_page: false %>  
