<ul class="nav">
  <li><%= link_to image_tag("postman.png"), root_path %></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="nav-item">
  <%= render 'shared/categories_menu' %>

  <% if logged_in? %>
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-small btn-success" data-toggle="dropdown" href="#"><i class='icon-plus icon-white'></i>New
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw(("<i class='icon-file'></i>")+' Post'), new_post_path %></li>
          <li><%= link_to raw(("<i class='icon-tag'></i>")+' Category'), new_category_path %></li>
        </ul>
      </div>
    
    <div class="pull-right">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-small" data-toggle="dropdown" href="#"><i class='icon-user'></i> <%= @current_user.username.capitalize %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to raw(("<i class='icon-off'></i>")+' Logout'), logout_path %></li>
          <li><%= link_to raw(("<i class='icon-wrench'></i>")+' Edit Profile'), edit_profile_path(@current_user.username) %></li>
        </ul>
      </div>
    </div>

  <% else %>
    <%= link_to raw(("<i class='icon-star-empty icon-white'></i>")+' Register'), register_path, :class => "btn btn-danger btn-small pull-right spaceme" %>
    <%= link_to raw(("<i class='icon-star-empty icon-white'></i>")+' Login'), login_path, :class => "btn btn-success btn-small pull-right spaceme" %>
  <% end %>

</div>
 


 